{% extends "base.html" %}


{% block cuerpo %}

<div class="row"><!-- la fila -->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->

<h1> mama</h1>
    <div class="card">
        <div class="card-body">
            <form action="registrarproducto/" method="POST">{% csrf_token %}  <!--falta accion-->
                <div class="form-group">
                    <input type="text" id="txtcod" name="txtcod" class="form-control" placeholder="codigo Producto" minlenght="6" maxLenght="6" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre"class="form-control" placeholder="nombre"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtingre" name="txtingre"class="form-control" placeholder="ingredientes"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtinstru" name="txtinstru" class="form-control" placeholder="instrucciones"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="numcosto" name="numcosto" class="form-control" placeholder="costo"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="txtdescri" name="txtdescri" class="form-control" placeholder="descripcion"   maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                    <input type="text" id="numcadu" name="numcadu" class="form-control" placeholder="caducidad"   maxLenght="100" required>
                </div>
                
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">guardar Producto</button>
                </div>
            </form>
        
        </div>
    </div><!--la tarjeta-->

</div><!-- columna izquierda --> 

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna derecha-->
    <h1> 
        listado de productos
    </h1>
    <!--  la tabla   -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">nombre</th>
                <th scope="col">ingredientes</th>
                <th scope="col">instrucciones</th>
                <th scope="col">costo</th>
                <th scope="col">caducidad</th>
                <th>opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for l in losprodu %}
            <tr>
                <td>
                {{forloop.counter}}</td>
                <td>{{l.codigo}}  </td>
                <td>{{l.nombre}}  </td>
                <td>{{l.ingredientes}}  </td>
                <td>{{l.instrucciones}}  </td>
                <td>{{l.costo}}  </td>
                <td>{{l.caducidad}}  </td>
                <td><a href="seleccionarproducto/{{l.codigo}}" class="btn btn-info">editar</a></td><!--falta codigo-->
                <td><a href="sorrarproducto/{{l.codigo}}" class="btn btn-danger">borrar</a></td>
            </tr>
            
            {% endfor %}
            </tbody>
        </table>
        <!--  la tabla   -->
    <div><!--columna derecha-->
    </div><!-- la fila -->
{% endblock %}
